name: Hello World
on: 
  workflow_dispatch: 
jobs:
  hello_world:
    runs-on: ubuntu-latest
    # permissions:
    #   issues: write
    #   pull-requests: write
    steps:
      - name: Hellow World
      - run: echo "Hello World"
    # - uses: actions/first-interaction@v1
    #   with:
    #     repo-token: ${{ secrets.GITHUB_TOKEN }}
    #     issue-message: "Message that will be displayed on users' first issue"
    #     pr-message: "Message that will be displayed on users' first pull request"
